<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen%20Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CRoboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
  <link rel="stylesheet" href="/assets/css/entry.css">
  <link rel="stylesheet" href="/assets/css/button.css">
  <link rel="stylesheet" href="/assets/css/ghl-styles.css">
  <link rel="icon" href="/assets/images/favicon.ico">
  <meta name="title" content="{{ title }}">
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="website">
  <meta property="og:image" content="{{ site.url }}/assets/images/logo-hero.png">
  <meta name="author" content="Jessica Allen">
  <meta name="keywords" content="{{ keywords }}">
</head>
<body>
  <div class="bg-fixed">
    {{ content }}
  </div>
</body>
</html>
